@{
    ViewBag.Title = "Home Page";
}
@model MvcApplication1.Models.Test
<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
        http://asp.net/mvc</a>.
</p>
@using (Html.BeginForm("Speichern", "Home", FormMethod.Post, new { id = "form1" }))
{
    @Html.ValidationMessageFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)    
    @Html.TextBoxFor(x => x.AnotherProperty)
    <button type="submit" value="send">
        Speichern</button>
}
<script>
    $(function () {
        $("#form1").submit(function (event) {
            event.preventDefault();
            var data = $("#form1").serialize();
            var url = this.action;

            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function () { alert("Erfolg!"); }
            });
        });
    });
</script>
